[2021-06-28 09:39] abhishekdwibedy-2002 opened #1 "Want To Join"

[2021-06-28 09:46] Akshima-Ghai commented on #1
We would love to have you on our project

[2021-06-28 09:46] #1 closed

[2021-06-28 09:52] Akshima-Ghai opened #6 "Work on the theme of the website"
Anyone who wants to design the theme of the website can ask about the issue.
The estimated Time required would be - 1 day.

[2021-06-28 10:08] Shivani13121007 commented on #6
Interested

[2021-06-28 10:13] neha030 opened #9 "Can I work on the Navbar"
I want to design the navbar which will contain the link to different pages.

[2021-06-28 10:13] Akshima-Ghai commented on #6
@Shivani13121007 issue assigned. All the best, try to learn maximum from the opportunity given.

[2021-06-28 10:13] #6 closed

[2021-06-28 10:14] Akshima-Ghai commented on #9
@neha030 issue assigned. All the best, try to learn maximum from the opportunity given.

[2021-06-28 10:16] NikhilSharma03 opened #12 "Can i work on the homepage"
** Description **

HomePage for the OneEducationWebsite

## Changes to be Made

 - Folder Structure
 - Add HomePage
 - Regular Color Scheme
 - Will Use ReactJS

[2021-06-28 10:17] Akshima-Ghai commented on #12
@NikhilSharma03 issue assigned. All the best, try to learn maximum from the opportunity given.

[2021-06-28 10:17] #12 closed

[2021-06-28 11:09] Jagannath8 opened #17 "Add name in Contributers"

[2021-06-28 11:18] SanjeevKumar22 opened #18 "add images and more readble in readme and contributors also"

[2021-06-28 12:16] #17 closed

[2021-06-28 12:17] #18 closed

[2021-06-28 12:53] AnirudhPanda opened #24 "In readme -> In steps to contribute add the commands for all the steps which will be helpful for the first time contributors."

[2021-06-29 05:19] shivshankar9 opened #30 "Login and sign up page"
Login and sign up page

[2021-06-29 06:35] NikhilSharma03 commented on #30
Working on that.

[2021-06-29 08:26] sujith248 commented on #30
So can I work on that too?

[2021-06-29 08:31] urmi-256 commented on #30
Can I work on this issue too? Will be creating a cool login and sign up page.

[2021-06-29 10:42] Akshima-Ghai opened #32 "UI of the website"
This will first open a page to ask user if he/she is a student or teacher, then accordingly next page will open, including different sections like abt page, the home page, video lectures, DoubtAssitance, Blogs, TestSeries/Quiz Section, and more features.
We are open to creative design as you like, but keep the standards high .
All the best.

[2021-06-29 10:43] Akshima-Ghai opened #33 "Logo Design"
Design a logo , which will best suit our website

[2021-06-29 10:47] TheArushiSingh commented on #30
I'm interested in working on that

[2021-06-29 10:51] urmi-256 commented on #32
Can I work on this issue ? If teacher we can provide an add button for him/her to add lectures blogs etc under different sections and even view them.

[2021-06-29 11:00] Akshima-Ghai commented on #32
ok @urmi-256 you can work on this issue , but keep the UI creative and get the most learning out of this given opportunity . ALL THE BEST

[2021-06-29 11:09] Akshima-Ghai commented on #30
ISSUE ASSIGNED TO @shivshankar9 and @NikhilSharma03  , try to complete it asap, you both can discuss with each other. If the UI made is not up to the mark, then the issue will be assigned to the next person. Issues are assigned on FCFB so try to check the issues update daily so that you can work on the issue you wish for. But still, we have a lot more issues, the contributors who haven't assigned

[2021-06-29 11:17] pranjay-poddar commented on #30
Please assign this task to me.

[2021-06-29 11:17] pranjay-poddar commented on #33
Please assign this task to me.

[2021-06-29 11:22] sujith248 commented on #32
Can I work this task too, and then you can select the best out of two, only if you are okay with it?

[2021-06-29 11:26] Akshima-Ghai commented on #30
This task is already assigned , you can work on different issue

[2021-06-29 11:27] Akshima-Ghai commented on #33
@pranjay-poddar issue assigned, try to make the most suitable logo for the website as well as the app. ALL THE BEST

[2021-06-29 11:28] Akshima-Ghai commented on #32
sure @sujith248 , go ahead. Try to make the best UI, ALL THE BEST.

[2021-06-29 11:37] #32 closed

[2021-06-29 11:57] Jagannath8 commented on #33
Can I work on this issue?

[2021-06-29 12:21] Akshima-Ghai commented on #33
@Jagannath8 go ahead , design a logo . The best logo will be selected . All the best

[2021-06-29 12:34] NikhilSharma03 commented on #24
@Akshima-Ghai
This is Fixed with PR #27. We can close this issue.

[2021-06-29 14:04] #30 closed

[2021-06-29 14:05] #24 closed

[2021-06-29 14:07] Akshima-Ghai commented on #9
share the screenshot

[2021-06-29 14:12] Akshima-Ghai opened #38 "Design Website"
Design Teacher/Student Section
Design About Page
Design Doubt Assistance Page
Design Quiz Page
Design Courses Page

[2021-06-29 14:13] Akshima-Ghai opened #39 "Resolve Errors"
Maintain CodeBase, if you find any error, just ask for the issue and debug the code.

[2021-06-29 14:14] Akshima-Ghai opened #40 "Animations"
Add Animations to make the UI look perfect .

[2021-06-29 14:26] neha030 commented on #9
![Screenshot (144)](https://user-images.githubusercontent.com/72595335/123815380-10d68680-d914-11eb-91c4-347ce6c98f98.png)

[2021-06-29 14:28] neha030 commented on #9
On Hovering

![image](https://user-images.githubusercontent.com/72595335/123815670-4aa78d00-d914-11eb-9b8e-708121cef243.png)

[2021-06-29 16:02] itsij commented on #38
I would like to work on About Page

[2021-06-29 16:21] Akshima-Ghai commented on #38
@itsij go ahead, keep the theme similar to that of the main page. ALL THE BEST

[2021-06-29 17:06] Akshima-Ghai commented on #9
@neha030  you have done a great job, but this does not match the theme of the main page, try to be more focused on the theme
You are doing great and will definitely do better, try to make it match the theme of the main page or choose another issue if u want to. Looking forward to seeing your creativity and your enthusiasm for the project. GOOD LUCK

[2021-06-30 07:32] kumarishalini6 commented on #40
@Akshima-Ghai  i want to work on this issue
but can you please tell me what type of animation you want?

[2021-06-30 08:13] Akshima-Ghai commented on #40
The pages which are ready, add animations to them and make it look prettier, show your creativity.
@kumarishalini6 issue assigned . ALL THE BEST

[2021-06-30 08:18] satyapavan99 commented on #33
I want to work on this

[2021-06-30 08:22] Akshima-Ghai commented on #33
@satyapavan99 go ahead , design a logo . The best logo will be selected. All the best

[2021-06-30 10:40] NikhilSharma03 opened #43 "[ Frontend ] : Add About page"
## Description

- Working on about page for the website

[2021-06-30 15:42] #43 closed

[2021-06-30 19:31] ambalika24 commented on #38
@Akshima-Ghai Ma'am , I want to design the courses page. I  just want to discuss some ideas with you. Kindly assign this issue to me.

[2021-06-30 19:34] Akshima-Ghai commented on #38
@ambalika24 issue assigned , you can discuss the ideas here or on the slack . Try to keep same theme as that of main page and abt page , and make the best UI . ALL THE BEST.

[2021-07-01 07:18] jayeshpurohit12 commented on #9
I have an idea of navbar design with given theme can i go ahead

[2021-07-01 07:42] Akshima-Ghai commented on #9
@jayeshpurohit12 go ahead , this is your chance , give it your best shot , ALL THE BEST

[2021-07-01 07:59] toth2000 opened #47 "Responsive Optimization required"
# Optimization required for mobile devices.

Issue:
 * Blank space to the right of the navbar.
 * Header Image not  centered
 * Footer white space is not symmetric on the left and right sides.

Steps to reproduce the error:
 - npm start and visit localhost:3000
 - open browser's developer tools (Ctrl+Shift+i)

![Screenshot 2021-07-01 132801](https://user-images.githubusercontent.com/65480420/12408

[2021-07-01 08:07] kumarishalini6 commented on #40
@Akshima-Ghai  without labels how you came to know that we are participants of devincept ??

[2021-07-01 08:13] Akshima-Ghai commented on #47
@toth2000 great work, find more errors so that we can resolve such errors.
@NikhilSharma03  pls have a look at the errors and resolve your code

[2021-07-01 08:14] Akshima-Ghai commented on #40
@kumarishalini6 don't worry labels will be updated soon by our mentors .

[2021-07-01 08:15] kumarishalini6 commented on #40
Ok thanks

[2021-07-01 08:23] NikhilSharma03 commented on #47
@Akshima-Ghai Yes it will be fixed soon. I am currently working on desktop view and will start working on responsiveness as soon as possible.

[2021-07-01 08:49] AmanBisht01 commented on #38
I would like to work on guidance page.

[2021-07-01 08:52] Akshima-Ghai commented on #38
@AmanBisht01 , abt page is ready. If u want to make any productive changes. Go ahead

[2021-07-01 10:45] yashoda203 commented on #38
I would like to work on Quiz page.

[2021-07-01 10:46] AmanBisht01 commented on #38
I would like to work on doubt assistance page.

[2021-07-01 11:03] kumarishalini6 commented on #40
@Akshima-Ghai is it ok

https://user-images.githubusercontent.com/69043944/124114275-db679100-da18-11eb-9d43-4eb823972f41.mp4

[2021-07-01 11:06] Akshima-Ghai commented on #38
@yashoda203 , QUIZ PAGE is already assigned to @The-An0rack , you two can discuss with each other and design the UI, or you can pick some other issue.

[2021-07-01 11:08] kumarishalini6 opened #48 "Scroll to top and custom scrollbar button"
I want to add scroll to top and custom scrollbar button in each page

@Akshima-Ghai  can i work on this issue??

[2021-07-01 11:08] Akshima-Ghai commented on #38
@AmanBisht01 issue assigned, try to keep the theme the same and try to make a great UI. ALL THE BEST.

[2021-07-01 11:13] Akshima-Ghai commented on #40
@kumarishalini6 , it's looking great, but try to improve it to better. Might be you will learn something new, explore more. Great work, keep it up.

[2021-07-01 11:15] Akshima-Ghai commented on #48
@kumarishalini6 issue assigned.

[2021-07-01 13:53] NikhilSharma03 opened #50 "PR Template"
## Description

- Currently, many of the PR's don't have any descriptions or any supporting tests. It's always a good practice to give a description of the changes you have made since it gives the reviewer a better understanding of the issue you have solved.

## Changes Required

** We can define a PR template which consists of sections such as **
- This PR fixes :
- Description :
- Changes Made:

[2021-07-01 14:58] Swastik1710 opened #52 "Footer Section"
As of now , the web page doesn't contain any footer. I would like to add an awesome footer section to it.

[2021-07-01 14:59] Swastik1710 commented on #52
Please assign this to me so that I can start working on it .
Also , please do suggest the things to be included in the footer.
Thank You !

[2021-07-01 15:04] Swastik1710 commented on #39
There's an issue in starting up the page on one's local machine.
As given in the documentation, when we run npm start we get the following error.

![Screenshot 2021-07-01 195447](https://user-images.githubusercontent.com/71871571/124146410-5bd6d200-daab-11eb-8cb4-a2e968be18fc.jpg)

And on running npm start ,we get these errors.

![Screenshot 2021-07-01 202210](https://user-images.githubusercontent

[2021-07-01 15:12] NikhilSharma03 commented on #48
Sorry, I accidentally linked the PR with the wrong issue. You can proceed with the issue. Thank you.

[2021-07-01 15:13] The-An0rack commented on #38
Sure! a helping hand would be great!

[2021-07-01 15:19] kumarishalini6 commented on #48
No issue

[2021-07-01 15:54] Akshima-Ghai commented on #52
@Swastik1710 issue assigned

[2021-07-01 15:58] Akshima-Ghai commented on #39
@Swastik1710 help on the grp and update readme.md , we will check the solution and then would commit your changes

[2021-07-01 15:58] #47 closed

[2021-07-01 16:08] Swastik1710 commented on #39
Yeah sure.

[2021-07-02 05:46] Akash20x opened #55 "Add Badges in README.md"
I want to add badges in top section of readme which shows no of stars, issues, pr, open issues and closes issues, maintained and many more. Through these badges your README.md looks cool.

[2021-07-02 05:47] Akash20x commented on #55
@Akshima-Ghai Please assign me this issue

[2021-07-02 06:49] Akshima-Ghai commented on #55
@Akash20x issue assigned

[2021-07-02 08:27] jayeshpurohit12 commented on #9
https://user-images.githubusercontent.com/61271857/124245085-7b362500-dad4-11eb-836f-7b39c2c5b694.mp4

if you have any suggestions that you want change please tell me because i take care of theme then make change on that

[2021-07-02 09:55] deeqakkk commented on #33
@satyapavan99 @Jagannath8 @pranjay-poddar any updates guys?

[2021-07-02 10:01] deeqakkk commented on #9
@jayeshpurohit12 It's really great,  you did it nicely!, just change the text style "you can learn anything" to bold style or try changing its font-weight to seek the attention .

[2021-07-02 11:33] NikhilSharma03 opened #57 "About Page Responsiveness"
## Description

- Fix about page responsiveness for smaller devices.

[2021-07-02 11:48] #57 closed

[2021-07-02 11:52] Akshima-Ghai commented on #9
great work @jayeshpurohit12, just try to try some different colors for home, courses......... when you hover over them, otherwise its looking good .

[2021-07-02 12:06] jayeshpurohit12 commented on #9
ok thanks for your information and i am adding some animation too

[2021-07-02 12:55] jayeshpurohit12 commented on #9
https://user-images.githubusercontent.com/61271857/124277542-ffe76a00-daf9-11eb-9d0b-ee95d79aa2ad.mp4

All Navbar changes done.

[2021-07-02 15:46] SAHU-01 commented on #38
@Akshima-Ghai  could you assign me with the Teacher /Student section designs !

[2021-07-02 16:29] Akshima-Ghai commented on #38
@SAHU-01 issue assigned, try to keep the theme the same and try to make a great UI. ALL THE BEST.

[2021-07-02 17:06] Akash20x commented on #55
@Akshima-Ghai Please check my pull request

[2021-07-02 17:14] Akshima-Ghai commented on #55
@Akash20x in the badges, why is it written: "Made with Python" ?

[2021-07-02 17:17] Akash20x commented on #55
I will send another pull request with all correction.

[2021-07-02 19:15] pranjay-poddar commented on #55
please assign this task to me

[2021-07-02 19:16] Akash20x commented on #55
I already assigned for this task

[2021-07-02 19:19] #55 closed

[2021-07-03 01:19] kumarishalini6 commented on #40
I have semester exam after that can I  continue

[2021-07-03 08:24] kumarishalini6 commented on #48
@Akshima-Ghai  is it ok or you want some changes?

https://user-images.githubusercontent.com/69043944/124348183-f52de300-db94-11eb-978c-84a735430d9d.mp4

[2021-07-03 09:41] Akshima-Ghai commented on #48
@kumarishalini6  change the animation applied on learnZania, that line revolving around doesn't look good and the time for login animation makes it look weird when the navbar changes from black to white, just make sure to update these changes

[2021-07-03 09:43] kumarishalini6 commented on #48
These all are not my animation I'll change all this when I applied animation at home page this issue is only about scroll to top button and custom Scrollbar

[2021-07-03 13:44] NikhilSharma03 opened #67 "Fix FAQ Section Issues"
## Description
There are several issues with the faq page
- Because of not following BEM classes naming, it clashes with other components.
![Screenshot from 2021-07-03 18-51-16](https://user-images.githubusercontent.com/58226527/124356304-e7c73600-dc32-11eb-8e58-752cab08fb6f.png)

- All the four question's answers are opening at the same time.
- There are some stylish issues with fonts.

[2021-07-03 16:45] #67 closed

[2021-07-03 19:07] #9 closed

[2021-07-03 19:17] deeqakkk opened #69 "Add "Back to top" button in all the required pages."
Maintain the theme of project.
Feel free to ask if have any doubt.

[2021-07-03 19:42] pranjay-poddar commented on #33
@deeqakkk @Akshima-Ghai sorry for the delay, I have made some of the logo designs have a look at them if you like any of those do let me know then I'll create a pull request.

![1](https://user-images.githubusercontent.com/52539501/124365308-bb2c1200-dc64-11eb-8d1b-8654e7f279b2.png)
![2](https://user-images.githubusercontent.com/52539501/124365309-bc5d3f00-dc64-11eb-8335-833740547dbe.png)
![3](htt

[2021-07-03 21:31] Jagannath8 commented on #33
![Learn ZANIA](https://user-images.githubusercontent.com/64650848/124367345-f4b84980-dc73-11eb-9355-638c2a4b2b84.png)

I've created this logo.

[2021-07-04 03:20] deeqakkk commented on #33
@Jagannath8 do share a screenshot here!

[2021-07-04 03:51] AmanBisht01 commented on #69
Please assign this issue to me..

[2021-07-04 05:17] Akshima-Ghai commented on #69
@AmanBisht01 issue assigned

[2021-07-04 06:30] #38 closed

[2021-07-04 07:27] deeqakkk commented on #33
@pranjay-poddar @Jagannath8 Can you guys update them to some cloud in standard format and share a link here?then you can make a pr.

and also Logo's are really so good👏

[2021-07-04 07:33] pranjay-poddar commented on #33
Link To Learn Zania Logo Designs in .PNG format 👇
https://drive.google.com/drive/folders/1u7GBagg3VfEByK2r7-1372-5wLp1Evf2?usp=sharing

@deeqakkk @Akshima-Ghai

[2021-07-04 07:41] pranjay-poddar commented on #50
I would like to work on this.

[2021-07-04 07:46] Jagannath8 commented on #33
https://drive.google.com/drive/u/0/folders/1uBNGq9Ct6ga_9OltXiGdE3aBBoWc-8T5

[2021-07-04 09:30] AmanBisht01 commented on #69
@deeqakkk @Akshima-Ghai please review my PR.

[2021-07-04 09:35] pranjay-poddar commented on #40
I would like to work on this please assign this task to me.

[2021-07-04 11:25] Akshima-Ghai commented on #40
@pranjay-poddar issue assigned .
@kumarishalini6 you can work after your exams are over .

[2021-07-04 14:15] AmanBisht01 commented on #48
Can i change the animation applied on learnzania.

[2021-07-04 15:23] AmanBisht01 opened #77 "Animation applied on learnZania"
Change the animation applied on learnZania, that line revolving around doesn't look good and the time for login animation makes it look weird when the navbar changes from black to white,

Can I work on this issue .

[2021-07-04 15:47] Akshima-Ghai commented on #77
yes @AmanBisht01 , go ahead

[2021-07-04 18:59] #77 closed

[2021-07-04 19:08] #52 closed

[2021-07-04 19:52] deeqakkk commented on #33
Logo has been added in the assests.

[2021-07-04 19:52] #33 closed

[2021-07-04 19:56] deeqakkk commented on #69
@AmanBisht01 Your PR is successfully merged, Keep up the good work.

[2021-07-04 19:56] #69 closed

[2021-07-04 20:14] deeqakkk opened #80 "Upgrade Footer section."
Reference:
https://dribbble.com/shots/2580790-Contact-Section

Feel free to do minor tweaks but final output should resembling with refernce.
And also you can ask anything if you want.

[2021-07-04 20:18] deeqakkk opened #81 "Add a Pre-Loader to our website."
Reference:
https://medium.muz.li/top-30-most-captivating-preloaders-for-your-website-95ed1beff99d
Take time that you need for it like 3-4 days but it should look decent.

[2021-07-04 20:31] deeqakkk opened #82 "Update Navbar and fix Color theme issue in mobile view."
![image](https://user-images.githubusercontent.com/78724676/124398658-838c9b00-dd34-11eb-836f-2e182fde8cb9.png)

Update navbar to look more like this in ss provided(color should be same as our project instead of blue), and also maintain color theme when size is reduced to mobile view.

[2021-07-04 20:35] deeqakkk commented on #80
![image](https://user-images.githubusercontent.com/78724676/124398814-61dfe380-dd35-11eb-87ce-f490e5e0969d.png)
Delete this much section as well, while working on this issue.

[2021-07-05 02:48] AmanBisht01 commented on #82
Please assign this issue to me...

[2021-07-05 02:54] Swastik1710 commented on #81
Hey, can u please assign this issue to me.

[2021-07-05 02:57] Akshima-Ghai commented on #82
@AmanBisht01 issue assigned

[2021-07-05 03:05] Subhradeep10 commented on #81
Can I work on it?

[2021-07-05 03:06] Akshima-Ghai commented on #81
yes @Subhradeep10 , go ahead . issue assigned

[2021-07-05 03:23] urmi-256 commented on #80
Please assign me this issue.

[2021-07-05 03:24] Akshima-Ghai commented on #80
@urmi-256 issue assigned

[2021-07-05 23:04] deeqakkk commented on #50
Assigned for 2 days!

[2021-07-06 06:44] urmi-256 commented on #80
Uploading 2021-07-06 12-04-36.mp4…

Have made something like this. Is it ok?

[2021-07-06 07:57] urmi-256 commented on #80
https://user-images.githubusercontent.com/71149323/124563518-b8e0d800-de5d-11eb-8fdf-20819f194ca5.mp4

Have made like this. Is it ok ?

[2021-07-06 08:22] Akshima-Ghai commented on #80
yes it's looking great, just try with a different shade of red color

[2021-07-06 08:22] Akshima-Ghai commented on #80
@urmi-256

[2021-07-06 09:01] urmi-256 commented on #80
@Akshima-Ghai    Is this looking fine?
![Screenshot (158)](https://user-images.githubusercontent.com/71149323/124573040-cd759e00-de66-11eb-929f-6d730aee3214.png)

[2021-07-06 09:37] aakankshabhende opened #85 "Adding Code of Conduct file"

[2021-07-06 11:52] Akshima-Ghai commented on #80
yes , looking good . Great work

[2021-07-06 17:34] deeqakkk commented on #85
@aakankshabhende  always try to put description  while opening a issue.
It helps both reviewer as well as contributor.

[2021-07-06 18:03] HarshitPandey251 opened #88 "Toggle switch for light and dark theme"
I want to add toggle button for switching from light to dark mode
@Akshima-Ghai I want to work on this issue

[2021-07-06 18:25] Akshima-Ghai commented on #88
@HarshitPandey251 issue assigned

[2021-07-07 06:01] NikhilSharma03 opened #89 "Night Mode"
## Description
- Night mode for the learnZilla website
@Akshima-Ghai Can i work on this?

[2021-07-07 06:17] Akshima-Ghai commented on #89
@NikhilSharma03 issue assigned

[2021-07-07 07:32] HarshitPandey251 commented on #88
assign me under DevIncept as I was contributor

[2021-07-07 13:47] deeqakkk commented on #81
@Subhradeep10 any updates?

[2021-07-07 14:17] Subhradeep10 commented on #81
@deeqakkk Loading screen is uploading on the top right corner but not on the center else its disturbing the whole react app

[2021-07-07 14:17] Subhradeep10 commented on #81
@deeqakkk anyone else can go with it

[2021-07-08 03:15] deeqakkk commented on #81
It's okay @Subhradeep10 , atleast you tried.👏

[2021-07-08 03:20] deeqakkk opened #90 "Add logo."
Update header section with this logo on the left of "LearnZania".

Logo's DIrectory:
src\assets\logos\1.png

[2021-07-08 03:26] deeqakkk opened #91 "Update Readme file."
Changes required:
1. Update tech stacks to MongoDB, React, Express, NodeJs.
2. Update this section to make it look good as well as informative
![image](https://user-images.githubusercontent.com/78724676/124857545-1c881400-dfca-11eb-9ebf-067bd99f486e.png)
Feel free to use your creative skills and google as well.

[2021-07-08 03:37] deeqakkk opened #92 "Develop Features page."
We need something like this 👇
Reference:
![image](https://user-images.githubusercontent.com/78724676/124858295-64f40180-dfcb-11eb-80fe-8047a8327859.png)

The clear image here:
https://www.figma.com/file/KLVAVkyIbVTcOovNqA20UB/Untitled?node-id=0%3A1

2 Contributors can work on this together as well.

[2021-07-08 03:42] jayeshpurohit12 commented on #92
Please assign this issue to me

[2021-07-08 03:42] urmi-256 commented on #92
Can I work on this too?

[2021-07-08 03:43] deeqakkk opened #93 "Change color theme of "Get Started Page"."
Changes required:
1.Change  blusish shade to our color theme i.e shade of red.
2.Change image at center with a new one (You can look on some free images website)
3.Change the elements how it is displayed ( You can change according to yourself) but it should look decent.
![image](https://user-images.githubusercontent.com/78724676/124859011-b650c080-dfcc-11eb-8854-b7b143d7aced.png)

Sumbit a Screens

[2021-07-08 03:49] deeqakkk opened #94 "Design two SignUp forms. One Teacher and one for student."
~Color theme should be maintained.
~All the necessary fields should be there for respective forms( Research a bit before starting to code)
~Create a section that one user click on sign up he/she should receive options to "SignUp as a teacher" or "Signup as a student/learner".

Feel free to ask if you have any doubt or have some idea to share.

[2021-07-08 04:06] urmi-256 commented on #93
Can I work on this?

[2021-07-08 04:11] deeqakkk opened #95 "Remove whitespace from around footer section."
![image](https://user-images.githubusercontent.com/78724676/124861109-89061180-dfd0-11eb-8f74-d0fc16a793db.png)
 Remove White space highlighted with blue color to occupy 100% width.

[2021-07-08 04:39] Akshima-Ghai commented on #92
@jayeshpurohit12 and @urmi-256 issue assigned, pls work together on this issue and try to finish this asap

[2021-07-08 04:40] urmi-256 commented on #92
Okk.

[2021-07-08 04:41] jayeshpurohit12 commented on #92
Okk

[2021-07-08 04:48] HarshitPandey251 commented on #90
I want to work on it @deeqakkk

[2021-07-08 05:12] HarshitPandey251 commented on #90
![zzz6](https://user-images.githubusercontent.com/69616901/124865921-2d8c5180-dfd9-11eb-94eb-d4d7fa2c475a.jpg)
This is how it look

[2021-07-08 05:58] HarshitPandey251 commented on #95
assign this to me @deeqakkk

[2021-07-08 06:05] HarshitPandey251 commented on #95
![zzz8](https://user-images.githubusercontent.com/69616901/124870556-89a6a400-dfe0-11eb-9af9-ea91f64520f7.jpg)
This is how it look

[2021-07-08 08:05] Akshima-Ghai commented on #95
@HarshitPandey251 issue assigned , create a pr of the changes made

[2021-07-08 08:58] urmi-256 commented on #92
Is the feature on the name bar the same feature page which we want to create?

[2021-07-08 09:07] SarveshLimaye commented on #91
hey i am contributor from devincept and would love to work on this issue. Please assign me this issue.

[2021-07-08 10:05] heet-kumar commented on #94
@deeqakkk any where you have hosted this project then provide the link of the website

[2021-07-08 10:06] heet-kumar commented on #94
because i want to see your website once .

[2021-07-08 10:23] toth2000 commented on #94
Clone the git repo on your machine and follow the instructions given in the readme file.

[2021-07-08 10:48] NikhilSharma03 opened #99 "Add Quiz Page"
## Description
- Add Quiz Page with mock data

[2021-07-08 11:45] Akshima-Ghai commented on #91
@SarveshLimaye issue assigned

[2021-07-08 11:45] SarveshLimaye commented on #93
Hey i am contributor from devincept and would love to work on this issue. Pls assign me with following issue.

[2021-07-08 11:46] Akshima-Ghai commented on #92
yes @urmi-256

[2021-07-08 11:47] Akshima-Ghai commented on #93
issue assigned @SarveshLimaye

[2021-07-08 13:17] deeqakkk commented on #90
@HarshitPandey251 You need not to remove "LearnZania" , just add logo in the left of it.

[2021-07-08 13:18] #95 closed

[2021-07-08 13:24] HarshitPandey251 commented on #90
okk

[2021-07-08 14:47] #99 closed

[2021-07-09 05:46] aakankshabhende commented on #85
Creating a Code of Conduct which everyone must abide by and mentioning the Scope of this Code of Conduct.

[2021-07-09 09:52] Swastik1710 commented on #94
Hey @deeqakkk , I would love to work on this issue. Could you please assign it to me ?

[2021-07-09 10:14] Akshima-Ghai commented on #94
@Swastik1710 issue assigned.

[2021-07-09 11:02] SarveshLimaye commented on #93
![screencapture-localhost-3000-section-2021-07-09-14_06_34 jpeg (1)](https://user-images.githubusercontent.com/74766567/125068511-2ea1a980-e0d3-11eb-9c43-39f6b2b7cfd5.png)

[2021-07-09 11:29] Akshima-Ghai commented on #93
it's looking good, just try with a light shade of red, inside the boxes. @SarveshLimaye . Good Work , keep it up

[2021-07-09 11:31] SarveshLimaye commented on #93
Yes sure

[2021-07-09 11:45] SarveshLimaye commented on #93
![screencapture-localhost-3000-section-2021-07-09-17_11_46 (1)](https://user-images.githubusercontent.com/74766567/125073165-2e0c1180-e0d9-11eb-9d54-6d8f4058eb74.png)

[2021-07-09 11:50] Akshima-Ghai commented on #93
yup , it's looking good @SarveshLimaye

[2021-07-09 13:35] shrihari-07 commented on #90
I want to work on it @deeqakkk

[2021-07-09 13:40] shrihari-07 commented on #81
Can I try it? @deeqakkk

[2021-07-09 13:43] deeqakkk commented on #81
@shrihari-07 yes sure, good luck💯

[2021-07-09 16:48] #89 closed

[2021-07-09 17:20] shrihari-07 commented on #81
@deeqakkk I have managed to add the pre-loader. I just wanted to ask if I have to add it for all pages or should I add the pre-loader only to the home page?

[2021-07-09 17:30] Akshima-Ghai commented on #81
@shrihari-07  add it to all the pages

[2021-07-09 17:30] deeqakkk commented on #81
@shrihari-07 really nice , you did it so quick👏
for now add pre loader just to our home page.

[2021-07-09 17:33] deeqakkk commented on #90
@shrihari-07 your interest to contribute is appreciated but this issue is already assigned.

[2021-07-09 17:37] #90 closed

[2021-07-09 18:17] shrihari-07 commented on #81
@deeqakkk below is the screen cast of how the pre-loader looks like. Let me know if the design, colour or duration of the pre loader has to be changed.
https://user-images.githubusercontent.com/67782171/125119987-747c6300-e10f-11eb-98c6-ccca81a51014.mp4

[2021-07-10 05:33] HarshitPandey251 opened #103 "Dark mode in Feature Teacher and Feature Student"
As There is no implementation of Dark mode in Feature Teacher and Feature Student page it will shown like this

![Screenshot 2021-07-10 104546](https://user-images.githubusercontent.com/69616901/125152985-4d08b300-e16e-11eb-8699-5d45128df832.jpg)

I want to work on it and assign under devincept @Akshima-Ghai

[2021-07-10 06:30] Akshima-Ghai commented on #103
@HarshitPandey251 issue assigned , just improve the UI of buttons for dark mode

[2021-07-10 06:33] AfraMP opened #104 "Website Logo"
I have tried out some logos...
1.
![LearnZania1](https://user-images.githubusercontent.com/48359218/125154194-7af1f580-e176-11eb-9722-07cb4feb311a.png)
2.
![LearnZania2](https://user-images.githubusercontent.com/48359218/125154207-8b09d500-e176-11eb-8f88-399160466326.png)
3.
![LearnZania3](https://user-images.githubusercontent.com/48359218/125154226-9fe66880-e176-11eb-8085-43ea1ea51402.png)

[2021-07-10 06:35] Akshima-Ghai commented on #104
@AfraMP attach each logo to our website and send the ss of each page with the logo. The logo which suits our website the most, we will commit the changes

[2021-07-10 12:33] shrihari-07 commented on #81
@deeqakkk I've completed adding preloader to the home page and made a pull request.

[2021-07-10 22:33] Sitanshu-AI opened #107 "Create CODE-OF-CONDUCT.md file"
Create a code of conduct  for those who are new to open source.

[2021-07-11 06:53] VenomFate-619 opened #108 "store preference"
When a user toggle to dark mode , then its preference should be **set to dark mode** means if i refresh the page know , it should remains in dark mode rather than light mode .

[2021-07-11 08:14] AfraMP commented on #104
![Screenshot (75)](https://user-images.githubusercontent.com/48359218/125187520-a8f63900-e24d-11eb-9975-1cd1145b3719.png)
![Screenshot (74)](https://user-images.githubusercontent.com/48359218/125187576-dd69f500-e24d-11eb-8352-b3410bfa94bd.png)
![Screenshot (76)](https://user-images.githubusercontent.com/48359218/125187588-f8d50000-e24d-11eb-9b16-db57bbdfb8ed.png)

[2021-07-11 09:35] VenomFate-619 commented on #108
can i work on it?

[2021-07-11 10:56] swathi-469 commented on #107
Please assign this to me .. I would like to work on it

[2021-07-11 10:57] swathi-469 commented on #85
Please assign this to me I would like to work on this issue

[2021-07-11 11:01] Sitanshu-AI commented on #107
I think this is assigned to those who raised the issue

[2021-07-11 12:32] deeqakkk commented on #107
@Sitanshu-AI Can you describe a bit more about what you want to add?

[2021-07-11 12:33] deeqakkk commented on #107
Sitanshu its not like issue will be assigned to only those who opened it, assignment depands on who asked for it first.
And also in some cases multiple contributors can work on single issue.

[2021-07-11 12:37] deeqakkk commented on #108
@VenomFate-619 Go ahead.

[2021-07-11 13:09] deeqakkk opened #110 "Fix responisveness in mobile view for "Get Started" Section"
![image](https://user-images.githubusercontent.com/78724676/125196173-73197a80-e276-11eb-9d92-87fcdce2ac25.png)
![image](https://user-images.githubusercontent.com/78724676/125196174-744aa780-e276-11eb-85fb-bd705ff09a67.png)
![image](https://user-images.githubusercontent.com/78724676/125196176-76ad0180-e276-11eb-9231-271cb8aa022b.png)
![image](https://user-images.githubusercontent.com/78724676/1251

[2021-07-11 13:14] HarshitPandey251 commented on #110
I want to work on this issue

[2021-07-11 13:19] deeqakkk opened #111 "Change position of "login" & "signup" button in mobile view."
Expected positons.
![image](https://user-images.githubusercontent.com/78724676/125196738-89283a80-e278-11eb-9b5a-e088621dff3b.png)

Don't make major changes in design and color theme.
Check responsiveness before making a PR.

[2021-07-11 13:24] deeqakkk opened #112 "Fix positon of "back to top " button in mobile view."
Check for responsiveness before making a PR.

[2021-07-11 15:42] Akshima-Ghai commented on #104
@AfraMP keep the second logo , also keep the name LearnZania like before to the right of logo , don't remove that .
Apply the changes and share the ss then we will commit the changes applied

[2021-07-11 15:43] Akshima-Ghai commented on #85
@swathi-469 issue assigned

[2021-07-11 15:46] Akshima-Ghai commented on #110
@HarshitPandey251 issue assigned

[2021-07-11 15:47] aakankshabhende commented on #85
@Akshima-Ghai  Mam I raised this issue first

[2021-07-11 15:48] aakankshabhende commented on #85
I created it

[2021-07-11 15:55] Akshima-Ghai commented on #85
For working, you need to also ask to assign the issue, if you have started working on the issue, we can ask @swathi-469 to work on a different issue, but pls keep that in mind for future references. And also do reply to this comment so that we can assign you the task . @aakankshabhende

[2021-07-11 15:57] aakankshabhende commented on #85
@Akshima-Ghai Mam please assign me this issue

[2021-07-11 16:00] Akshima-Ghai commented on #85
@aakankshabhende issue assigned

[2021-07-11 16:01] aakankshabhende commented on #85
Thanks @Akshima-Ghai mam

[2021-07-11 16:01] Akshima-Ghai commented on #85
@swathi-469 sorry for the inconvenience caused, try working on different issue

[2021-07-11 16:15] swathi-469 commented on #85
but I am ready with my work just ahead of making the pull request

On Sun, Jul 11, 2021 at 9:31 PM Akshima-Ghai ***@***.***>
wrote:

[2021-07-11 16:24] Swastik1710 commented on #111
Can you please assign this issue to me?

[2021-07-11 16:25] Swastik1710 commented on #112
Please assign this issue to me.

[2021-07-11 16:31] Akshima-Ghai commented on #85
ok @swathi-469 and @aakankshabhende pls work together, we will consider both prs made

[2021-07-11 16:32] Akshima-Ghai commented on #111
@Swastik1710 issue assigned

[2021-07-11 16:33] swathi-469 commented on #107
So can I start working on it

[2021-07-11 16:34] swathi-469 commented on #85
yeah thank you

[2021-07-11 16:37] Akshima-Ghai commented on #112
@Swastik1710 issue assigned

[2021-07-11 16:38] Akshima-Ghai commented on #107
@swathi-469 issue assigned

[2021-07-11 16:42] swathi-469 commented on #85
I have made my pull request can you check it

[2021-07-11 16:43] swathi-469 commented on #107
I have made my pull request can check it

[2021-07-11 17:36] Swastik1710 commented on #112
Hey @deeqakkk
All you want is that the scroll to top button doesn't go out from the right margin.
Or is there something else that needs to be done ?

[2021-07-11 18:27] Sitanshu-AI commented on #107
i have raised the issue how can you assigned it to other person

[2021-07-11 18:32] VenomFate-619 commented on #108
Help 🆘
I want to set the theme on initial loading according to system theme , for that i am using ```useMediaQuery``` hook but there is a flask between light and dark mode , i tried this [solution](https://github.com/mui-org/material-ui/issues/15588) but not work.
If you or me get any solution , then it will get implemented or i will drop it (I think may be it will also require to make the theme s

[2021-07-11 19:01] #85 closed

[2021-07-11 19:05] Akshima-Ghai commented on #107
@Sitanshu-AI you have to ask for the assignment of issue if u want to work on the issue . Only creating won't help us to keep track ,who is willing to work on the issue, pls keep that in mind for future references

[2021-07-12 01:58] AfraMP commented on #104
![Screenshot (79)](https://user-images.githubusercontent.com/48359218/125219514-7ea28b00-e2e2-11eb-80af-0908586fdff7.png)

[2021-07-12 02:41] Swastik1710 commented on #111
Hey, shall I also remove the login and signup options from sidebar menu ?

[2021-07-12 02:46] Swastik1710 commented on #111
Here's how it is looking
![2](https://user-images.githubusercontent.com/71871571/125223437-671ad080-e2e9-11eb-8f0f-82f4ab27f3b0.jpg)

![1](https://user-images.githubusercontent.com/71871571/125223432-63874980-e2e9-11eb-883a-67cd02f13a60.jpg)

[2021-07-12 03:56] Akshima-Ghai commented on #104
@AfraMP you can create a pr, with the following changes. Great Work

[2021-07-12 07:00] AmanBisht01 opened #119 "Apply dark theme in All section"
Dark theme is not applied on all section

![Screenshot (122)](https://user-images.githubusercontent.com/59495320/125244274-c0e0c200-e30c-11eb-996f-939f605de583.png)

[2021-07-12 07:01] AmanBisht01 commented on #119
Assign this issue to me .

[2021-07-12 07:11] HarshitPandey251 commented on #119
I already working on this issue  as  issue #110 where I have to do changes, So in which I solve this issue also

[2021-07-12 07:14] HarshitPandey251 commented on #110
In this page dark mode is not working, so I change that as well

[2021-07-12 09:17] AmanBisht01 commented on #119
Ok go ahead

[2021-07-12 09:17] #119 closed

[2021-07-12 13:23] shrihari-07 opened #122 "Fix the gap generated between footer of the website and browser window."
As shown in the below picture, the gap between the browser window and footer needs to fixed.
![Screenshot from 2021-07-12 18-48-54](https://user-images.githubusercontent.com/67782171/125294621-0c619300-e342-11eb-87f5-78ae52caf02f.png)

[2021-07-12 13:26] shrihari-07 commented on #122
Can I fix it?

[2021-07-12 18:22] deeqakkk commented on #111
Yes, Swastik they are fine but change the color of the buttons.
both of them need not be of the same color and same hover effect.
and also check for responsiveness before making a PR.

[2021-07-12 18:31] deeqakkk commented on #112
No, nothing else just make it visible in mobile screen as well.

[2021-07-12 18:34] deeqakkk commented on #122
@shrihari-07 It was nice that you observed this, but this issue is alredy there in #110.
explore a bit more maybe you can get some issues to fix or a new feature to add on🤠

[2021-07-12 18:34] #122 closed

[2021-07-12 18:38] deeqakkk opened #123 "Change Scroll Bar style in our webiste."
Keep its theme same as our website theme.
you can share a ss of your idea before you start working on it.

[2021-07-12 18:41] deeqakkk commented on #108
@VenomFate-619 Your idea seems nice but currently we are not looking into user's system for anything, so just try toggling it between dark and light mode using button on webpage only.

[2021-07-12 18:44] deeqakkk commented on #91
@SarveshLimaye it's already been 4 days, any updates regarding progress?

[2021-07-12 18:53] #93 closed

[2021-07-12 18:54] #80 closed

[2021-07-12 18:54] #50 closed

[2021-07-12 18:55] deeqakkk commented on #40
@pranjay-poddar any updates?

[2021-07-12 18:57] deeqakkk opened #124 "Add a suitable "Favicon""
![image](https://user-images.githubusercontent.com/78724676/125341151-ec959380-e370-11eb-8eb1-ac076469895e.png)

Change this React logo to some relatable favicon on our website.

[2021-07-12 18:58] #39 closed

[2021-07-13 01:06] HarshitPandey251 commented on #124
I want to contribute in this issue @deeqakkk

[2021-07-13 01:45] #104 closed

[2021-07-13 03:04] shrihari-07 commented on #123
@deeqakkk I can try to work on it.

[2021-07-13 05:38] AmanBisht01 opened #127 "Fix navbar and add design in dark mode button"
The length of navbar is not looking good and the alignment of nav links is not proper.
Assign this issue to me .

[2021-07-13 05:45] pranjay-poddar commented on #40
Yes, I am working on it need some more time.

[2021-07-13 05:54] AmanBisht01 opened #128 "FIx nav-bar"
The nav-bar length is not looking good and the navlink alignment is not a proper .
Please assign  this issue to me .

[2021-07-13 05:54] #128 closed

[2021-07-13 06:09] Akshima-Ghai commented on #124
@HarshitPandey251 issue assigned

[2021-07-13 06:10] Akshima-Ghai commented on #123
@shrihari-07 issue assigned

[2021-07-13 06:11] Akshima-Ghai commented on #127
@AmanBisht01 issue assigned

[2021-07-13 07:06] Swastik1710 opened #130 "Navbar Button"
As of now the navbar button color is not set for dark mode which doesn't look good.

![2](https://user-images.githubusercontent.com/71871571/125406538-91968780-e3d6-11eb-94a8-4fee79d74a0b.jpg)

I wanna update the colors according to the dark and light theme and also add a hover effect to it.
Demo :

![ezgif com-gif-maker(2)](https://user-images.githubusercontent.com/71871571/125406788-d6222300-e3d

[2021-07-13 07:06] Swastik1710 commented on #130
Please assign this issue to me.

[2021-07-13 15:34] #81 closed

[2021-07-13 19:01] ShwetKhatri2001 opened #133 "Creating backend server"
- I would like to create a backend server app using express .
- I can create a basic structure of backend server app , so that we can start working on backend.
- server will be connected to mongodb .
- swagger ui can also be added to show backend routes on running server .

@deeqakkk @Akshima-Ghai I'd like to work on this issue under DCP'21 .

[2021-07-14 05:06] #88 closed

[2021-07-14 05:08] Akshima-Ghai commented on #130
@Swastik1710 issue assigned

[2021-07-14 06:13] Harshal0902 commented on #91
@Akshima-Ghai I am one of the contributor from devincept, can i work on this issue?

[2021-07-14 06:30] Akshima-Ghai commented on #133
@ShwetKhatri2001 issue assigned

[2021-07-14 06:31] Akshima-Ghai commented on #133
@NikhilSharma03

[2021-07-14 09:26] Akshima-Ghai commented on #91
@Harshal0902 issue assigned

[2021-07-14 17:43] anupamishra333 commented on #124
Can i contribute?

[2021-07-14 18:48] urmi-256 opened #136 "NavBar Responsiveness in both dark and light mode"
![Screenshot (167)](https://user-images.githubusercontent.com/71149323/125676139-2bff593c-8a04-4ed2-9238-85190be342b3.png)

Navbar toggle button is coming upon sign up. Have to fix navbar responsiveness. Can I work on this issue?

[2021-07-14 20:00] Akshima-Ghai commented on #124
This issue is already assigned .
@anupamishra333 find a different issue to contribute

[2021-07-14 20:00] #124 closed

[2021-07-14 20:00] Akshima-Ghai commented on #136
@urmi-256 issue assigned

[2021-07-15 02:45] #127 closed

[2021-07-15 06:30] Harshal0902 opened #137 "Navbar with Headroom.js"
Replace the fixed navbar using Headroom.Js, i.e. hiding the navbar until its needed.
[Reference](https://wicky.nillia.ms/headroom.js/)

[2021-07-15 06:31] Harshal0902 commented on #137
@Akshima-Ghai I am one of the contributor from devincept, can i work on this issue?

[2021-07-15 11:16] NikhilSharma03 opened #138 "Feature Section Cards Width"
## Description
- The cards on the features page are small.
![Screenshot from 2021-07-15 16-35-54](https://user-images.githubusercontent.com/58226527/125779409-53197080-1170-4816-9e18-b8627ebc9176.png)

## Changes Required
- Fix the card's width in the features page

[2021-07-15 12:16] Akshima-Ghai commented on #137
@Harshal0902 issue assigned

[2021-07-15 12:17] #138 closed

[2021-07-15 17:50] #133 closed

[2021-07-16 06:09] ShwetKhatri2001 opened #141 "Add student and teacher signup routes"
### Feature
-  add student and teacher schema for saving their data in db
-  add signup routes for saving student or teacher document in respective mongodb collection

@Akshima-Ghai I'd like to work on this issue under DCP'21 .

[2021-07-16 09:27] Akshima-Ghai commented on #141
@ShwetKhatri2001 issue assigned

[2021-07-16 09:51] shrihari-07 commented on #123
@Akshima-Ghai @deeqakkk Please check the below shown scroll-bar style and let me know if there is any changes needed.
![Screenshot from 2021-07-16 15-18-41](https://user-images.githubusercontent.com/67782171/125928829-ab8009cb-c1b3-42f7-b139-dd91327dfb91.png)

[2021-07-16 14:28] NikhilSharma03 opened #145 "Need changes in home button for smaller devices"
## Description
Required Changes
- Add border-radius to the home buttons
- Fix on hover color (black to primary color)
- A bit smaller font size

## Current State
![Screenshot from 2021-07-16 19-42-45](https://user-images.githubusercontent.com/58226527/125963485-ba4ae89f-39fb-48ee-85d1-03b5cc6128f7.png)

[2021-07-16 15:15] #145 closed

[2021-07-16 19:27] Akshima-Ghai commented on #123
It looks good , u can create a pr for these changes

[2021-07-17 06:24] #108 closed

[2021-07-17 13:24] urmi-256 commented on #136
#[](https://github.com/Akshima-Ghai/OneEducationalWebsiteForAll/pull/143) #

[2021-07-17 13:24] #136 closed

[2021-07-17 15:36] #141 closed

[2021-07-17 15:47] deeqakkk opened #152 "Update "our team" section to display our active contributors in it."
~Try to make it dynamic so that it changes automatically according to the latest PR summited by a contributor.
~Make it differentiable among Project admin, Mentors, and our contributors.
~one more basic thing as follows
![image](https://user-images.githubusercontent.com/78724676/126042384-a3dcb04b-6006-4172-861f-2a119a81c52e.png)
Change that truck icon to something related to education instead of

[2021-07-17 18:02] ShwetKhatri2001 commented on #152
I'd like to work on this issue

[2021-07-17 18:07] Akshima-Ghai commented on #152
@ShwetKhatri2001 issue assigned

[2021-07-18 05:22] #137 closed

[2021-07-18 13:22] NikhilSharma03 opened #153 "Update Student and Teacher Model Scheme"
## Description
- Add Teacher Quiz key in the teacher model
- Add Student Quiz Record
- Add Student Query Record

[2021-07-18 13:23] NikhilSharma03 commented on #153
Would love to work on this issue.

[2021-07-18 22:03] ShwetKhatri2001 opened #155 "Adding Login server routes for teacher and student"
- I want to add  login server routes for teacher and student , which will check login details and authenticate with token accordingly.

@Akshima-Ghai @deeqakkk I'd like to work on this issue under DCP'21.

[2021-07-19 07:01] #82 closed

[2021-07-19 07:01] #48 closed

[2021-07-19 07:01] #91 closed

[2021-07-19 07:02] #92 closed

[2021-07-19 07:03] #94 closed

[2021-07-19 07:03] #103 closed

[2021-07-19 07:03] #110 closed

[2021-07-19 07:04] #111 closed

[2021-07-19 07:05] #112 closed

[2021-07-19 07:05] #123 closed

[2021-07-19 07:05] #130 closed

[2021-07-19 07:08] VenomFate-619 opened #156 "add auth middleware"
Add middleware to verify that the user is authenticated

[2021-07-19 07:29] deeqakkk commented on #156
Describe a bit more so that i can add level accordingly

[2021-07-19 07:39] deeqakkk opened #157 "Add hover effect in "Get Started section""
![image](https://user-images.githubusercontent.com/78724676/126121137-52b9179c-f637-43fc-b82a-f83fcc3a8c90.png)
....hover on test series should show some questions
....hover on more feature should show our "upcoming courses"

 comment if you have any further query.

[2021-07-19 07:45] deeqakkk opened #158 "Design a template for "Video lecture"(WireFraming)"
It should have
1. login/ signup popup
2. Option to choose a class
3.option to choose subject
4.a section for on website video player
5.section for recommended lectures

[2021-07-19 07:49] deeqakkk opened #159 "Link a Chatbot to Doubt assistance in get started page."
A pop chatbot on the right bottom with a greeting msg or maybe some quotes.
chatbox should be of around 450px 400px.

You can visit jio chatbot in its app for reference or maybe some other that you have used.

[2021-07-19 07:53] deeqakkk opened #160 "Create a blog page and link it with blogs in get started section."
Blog page needs to show some of our most-read blogs in form of cards with short descriptions and a read more button.

[2021-07-19 07:59] deeqakkk opened #161 "Create a new test/quiz section."
1. It should only be accessible after logging in.
2. it need to have a timer
3. you can use dummy mcq's for now (i will provide with some questions later on)
4.section showing attempted questions , left questions , questions not visited yet
5. add some basics instructions as well before test starts

Reference: https://cache.careers360.mobi/media/presets/1600X810/articles/uploads/froala_editor/imag

[2021-07-19 10:09] VenomFate-619 commented on #156
checking whether jwt token is expired or not

[2021-07-19 13:56] NikhilSharma03 commented on #161
Would love to work on it

[2021-07-19 15:08] NikhilSharma03 opened #163 "[BackEnd] Email already exist"
## Description

** Issue **
- In the current Teacher and Student sign-up methods, it is not being checked whether the provided email already exits or not.
- This will lead to duplicate emails for multiple account.

** Required Changes **
- Check whether the email already exists or not.
- If not, then proceed with the email
- If yes, return error with message "Email already exits"

## Note For Revi

[2021-07-19 18:18] ShwetKhatri2001 commented on #163
Its being checked already based on error code we get for saving new document having duplicate email .

[2021-07-20 02:59] HarshitPandey251 commented on #107
I want to work on it @deeqakkk

[2021-07-20 05:07] NikhilSharma03 commented on #163
Ok i guess we can use that.

[2021-07-20 05:07] #163 closed

[2021-07-20 06:05] urmi-256 commented on #159
Can I work on this?

[2021-07-20 06:50] jayeshpurohit12 commented on #158
Can you give some references

[2021-07-20 08:33] ShwetKhatri2001 opened #165 "Send reset password link via email for forgot-password"
- If student / teacher forget password , then his / her email will be taken and an email having reset password frontend-link will be sent.

@deeqakkk @Akshima-Ghai I would like to work on this issue

[2021-07-20 08:37] deeqakkk commented on #165
Yes, sure go ahead by adding a forgot password link close to login form.
and share a ss while making a PR.

[2021-07-20 08:42] Akshima-Ghai commented on #161
@NikhilSharma03 issue assigned

[2021-07-20 08:42] #153 closed

[2021-07-20 08:43] Akshima-Ghai commented on #107
@HarshitPandey251 issue assigned

[2021-07-20 08:44] Akshima-Ghai commented on #159
@urmi-256 issue assigned

[2021-07-20 08:44] #155 closed

[2021-07-20 09:02] swathi-469 commented on #107
Sir I have already made my pull request and got merged but you are still assigning it. And not closed the issue

[2021-07-20 09:06] deeqakkk commented on #107
oh, sorry my bad I misinterpreted it with some other issue.
@HarshitPandey251 this issue is already resolved, you can look for another one.

[2021-07-20 09:06] #107 closed

[2021-07-20 12:50] HarshitPandey251 opened #166 "Making responsive student and teacher page"
1. I have notice Students and Teacher page is not responsive in mobile view.
2. Also there is no footer path in both page.

It was looking like this
![Screenshot 2021-07-20 182040](https://user-images.githubusercontent.com/69616901/126327061-5c818f64-2c11-48cd-996a-011ae793037b.jpg)

[2021-07-20 12:50] HarshitPandey251 commented on #166
@deeqakkk I want to work on this

[2021-07-20 12:56] HarshitPandey251 opened #167 "Side Drawer issue"
There is no option of Student and Teacher in Side drawer slide while in mobile view
It was looking like this
![Screenshot 2021-07-20 182727](https://user-images.githubusercontent.com/69616901/126327845-16ffc454-00e6-4a02-95b4-1d67d0721aaa.jpg)

@deeqakkk I want to work on this

[2021-07-20 13:45] ShwetKhatri2001 commented on #165
I was talking about creating a server route for taking email when user forgot password and sending email having reset password frontend route link ( where he will be entering new password ). front-end routes  for forgot - password and reset-password can be made and connected  after this issue.

[2021-07-20 13:53] #152 closed

[2021-07-20 13:55] deeqakkk commented on #167
Yes, go on and solve this.

[2021-07-20 13:58] urmi-256 commented on #159
What other things I will have to add in the chatbot besides greeting. Or can I add by myself according to the issue?

[2021-07-20 13:58] deeqakkk commented on #156
Okay, you can work on it.

[2021-07-21 08:18] ShwetKhatri2001 opened #171 "Feature - Reset Password"
- User have been provided a link having password_reset_token , on that frontend link he will be entering new password
- New password will be updated in db for that student or teacher account, which can be used then onwards

@Akshima-Ghai @deeqakkk I'd like to work on this issue

[2021-07-21 10:11] Akshima-Ghai commented on #159
@urmi-256  add basic questions abt the website and its features, and if u can think of any other issue, pls add that and make it a good chatbot

[2021-07-21 10:14] #165 closed

[2021-07-21 10:14] Akshima-Ghai commented on #171
@ShwetKhatri2001 issue assigned

[2021-07-21 10:15] #161 closed

[2021-07-21 11:31] NikhilSharma03 opened #173 "[FrontEnd] Fix Footer Responsiveness"
## Description
- The content of the footer overflows the screen width resulting in white spacing.

![Screenshot from 2021-07-21 16-57-02](https://user-images.githubusercontent.com/58226527/126481869-cfdd5e74-8f18-4baa-b4cd-78a24ebe37e3.png)

** Changes To Make **
- Fix the responsiveness issue
- Change the alignment of content for a better UI

## Note For Reveiwers
- Would love to work on this.

[2021-07-21 11:34] NikhilSharma03 opened #175 "[FrontEnd] SideDrawer Fix"
## Description
- The content of Side Drawer hides behind the the scroll bar.

![Screenshot from 2021-07-21 16-54-06](https://user-images.githubusercontent.com/58226527/126482075-78a851d9-6911-4e9a-965e-3412e7fb3d84.png)

** Changes To Make **
- Either add scroll bar on to the side drawer or fix the alignment so the content of side drawer is visible

## Note For Reveiwers
- Would love to work on th

[2021-07-21 11:36] NikhilSharma03 opened #176 "[FrontEnd] Header content overlaps on smaller devices"
## Description
- The contents of the header overlaps on smaller devices

![Screenshot from 2021-07-21 16-54-36](https://user-images.githubusercontent.com/58226527/126482436-8fec9439-1e4d-4986-91ca-2ab24b38bf05.png)

** Changes **
- Fix the responsiveness

## Note For Reviewers
- Would love to work on it.

[2021-07-21 12:06] Akshima-Ghai commented on #173
@NikhilSharma03 issue assigned

[2021-07-21 12:13] #176 closed

[2021-07-21 12:13] #175 closed

[2021-07-21 15:05] dilroseR commented on #157
Can i get some detailed info on this?

[2021-07-22 06:43] #167 closed

[2021-07-22 06:43] #166 closed

[2021-07-22 06:46] deeqakkk commented on #157
you need to change the hover effect according to required changes mentioned in ss.

[2021-07-22 07:13] ShwetKhatri2001 opened #180 "Save user contact messages and send relevant emails"
- Saving messages sent by student / teacher from get in touch section to db model using  a server route
- Sending 'Thanks for contacting' type email to that user.
- Sending email to project admin having user-details ( who contacted ) and message he sent ( user's feedback/ message ).

@Akshima-Ghai I'd like to work on this issue

[2021-07-22 07:52] AmanBisht01 commented on #160
I would like to work on this issue .

[2021-07-22 08:16] AmanBisht01 opened #181 "Improve backend server ."
Few Login and sign in button not working .
Add google credential login .
add improve overall backend .
separate client side and server side .

Assign this issue to me under DCP
@deeqakkk

[2021-07-22 11:19] urmi-256 commented on #159
https://user-images.githubusercontent.com/71149323/126631257-17c3d912-2d95-451f-8bf8-43960234f751.mp4

Is this ok?

[2021-07-22 14:07] #171 closed

[2021-07-22 14:07] Akshima-Ghai commented on #180
@ShwetKhatri2001 issue assigned

[2021-07-22 14:12] Akshima-Ghai commented on #159
also add "IF U HAVE ANY OTHER DOUBT CONTACT US AT EMAIL OR NUMBER " maybe
else I find it cool .
@deeqakkk if u want to suggest some changes pls mention
great work @urmi-256

[2021-07-22 14:13] #173 closed

[2021-07-23 09:59] urmi-256 commented on #159
#183

[2021-07-23 11:03] NikhilSharma03 opened #184 "Connect SignUp Forms To Backend API"
## Description
- Currently, The teacher and student signup forms are not connected with the backend API.
- Need to make necessary changes in the react app to connect with the backend api.

## Note For Reviewers
- Would love to work on it.

[2021-07-23 11:08] NikhilSharma03 opened #185 "Add .env.example file in the server directory"
## Description
- Currently, we are using several environment variables in the backend server.

** Desired Changes **
- It would be good practice if we can add a .env.example file which contains all the environment Variable ( with empty values ) so one can use this file to generate their own .env file

## Note For Reviewers
Would love to work on it.

[2021-07-23 11:28] deeqakkk commented on #185
Great idea.👏, even I didn't got this before.

[2021-07-23 13:42] ShwetKhatri2001 opened #187 "Create forgot and reset password react forms"
- We need two frontend routes for forgot-password and reset-password and react forms with state handling for them

I'd like to work on this issue

[2021-07-23 18:45] #180 closed

[2021-07-23 18:46] Akshima-Ghai commented on #187
@ShwetKhatri2001 issue assigned

[2021-07-23 18:46] #185 closed

[2021-07-24 16:28] #181 closed

[2021-07-25 14:34] urmi-256 commented on #159
https://user-images.githubusercontent.com/71149323/126902887-fad1be89-0254-4a75-9ce3-cde10b54b6fd.mp4

Updated accordingly. Is this now ok? Shall I give a fresh pr or add in earlier one only?
@deeqakkk

[2021-07-25 15:12] ShwetKhatri2001 opened #190 "Connect Login form to Backend API"
- currently login is working on backend server route, I like to connect it with front-end form , so that formdata can be sent to particular route and user can be logged in if server request succeed.

@Akshima-Ghai I'd like to work on this issue

[2021-07-25 20:46] #187 closed

[2021-07-25 20:46] Akshima-Ghai commented on #190
@ShwetKhatri2001 issue assigned

[2021-07-26 04:44] VenomFate-619 commented on #160
I want to do it? Can you explain more what is to be done?

[2021-07-26 07:27] AmanBisht01 commented on #157
Please Assign it to me ...
@deeqakkk

[2021-07-26 07:59] urmi-256 commented on #159
https://user-images.githubusercontent.com/71149323/126953944-0b56ec96-19c7-47a0-a194-7911cc7c3065.mp4

Updated accordingly. Is this now ok? Should I create a fresh pr or existing one only? @deeqakkk

[2021-07-26 08:12] deeqakkk commented on #160
Referance:

https://dribbble.com/shots/14170952-Pixelmatters-Blog

[2021-07-26 08:14] deeqakkk commented on #184
any updates?

[2021-07-26 08:15] #159 closed

[2021-07-26 08:16] deeqakkk commented on #157
@AmanBisht01 Try to make a PR within 3 day.

[2021-07-26 08:19] NikhilSharma03 commented on #184
@deeqakkk I will make PR by evening.

[2021-07-26 08:20] deeqakkk opened #192 "Fix "dark-mode" toggle button."
The toggle button having some issues in its functioning, we need to fix this.

[2021-07-27 04:59] #184 closed

[2021-07-27 18:23] ShwetKhatri2001 opened #195 "Connect forgot-reset password forms to Backend API"
- forgot and reset password is working correctly on backend , It should be connected to frontend now, so that user can start using it just by filling a form

- @Akshima-Ghai I'd like to work on this issue

[2021-07-28 07:39] #190 closed

[2021-07-29 13:19] ShwetKhatri2001 opened #197 "Connecting apis for contact with front-end 'Get In Touch' form"
- we have backend apis for sending relavant emails to user and project admin when he / she contact . That should be connected with frontend now, so that we can start getting in touch with users and can get feedback about out our app from users.

@Akshima-Ghai  I'd like to work on this issue.

[2021-07-29 16:45] #195 closed

[2021-07-29 16:54] deeqakkk commented on #157
any update @AmanBisht01 ?

[2021-07-29 16:56] #156 closed

[2021-07-29 18:51] ShwetKhatri2001 commented on #157
I'd like to work on this issue

[2021-07-29 18:55] Akshima-Ghai commented on #157
@ShwetKhatri2001 issue assigned

[2021-07-30 06:01] deeqakkk commented on #157
Reference: https://codepen.io/havardob/pen/gOamzGq
add proper padding to make all the texts center aligned.
stick to our color theme.

[2021-07-30 06:17] deeqakkk opened #198 "Update GitHub icon's color in hover effect."

[2021-07-30 17:00] VenomFate-619 opened #200 "concurrently start"
The server and Client should start with one command.
By implementing this server will start first then the client, then the client will work properly

**Can I Do it**

[2021-07-30 18:06] #197 closed

[2021-07-31 07:45] aakankshabhende commented on #198
Can I work on this issue under DCP'21? @deeqakkk

[2021-07-31 07:52] deeqakkk commented on #200
sure

[2021-07-31 07:53] deeqakkk commented on #198
Sure, go and fix it.

[2021-07-31 17:08] #198 closed

[2021-08-01 09:53] #157 closed

[2021-08-01 09:55] deeqakkk opened #203 "Add animation to "Back to top" button"
~Add some animation to the button so that when it reaches the bottom it blink or something to highlight itself.

[2021-08-01 09:57] deeqakkk opened #204 ""Back to top" button in get started page"
~Button is not visible on this page coz of the chatbox
~Do minor tweaks to make it visible.

[2021-08-01 11:17] ShwetKhatri2001 commented on #204
I'd like to work on this issue

[2021-08-01 16:44] Akshima-Ghai commented on #204
@ShwetKhatri2001 issue assigned

[2021-08-03 12:27] Swastik1710 commented on #203
Hey, Please assign this issue to me.

[2021-08-04 07:44] ShwetKhatri2001 commented on #192
I'd like to work on this issue

[2021-08-04 10:36] deeqakkk commented on #200
any updates @VenomFate-619

[2021-08-04 10:45] VenomFate-619 commented on #200
I was  busy in my exams ,
I will try to do it by  tomorrow .

[2021-08-04 12:36] NikhilSharma03 opened #206 "Responsiveness Issues in GetStarted Page"
## Description
<h3>There are two responsiveness in the website</h3>

- Reach Out Form
- GetStarted Page ( onHover )

## Screenshots
![Screenshot from 2021-08-03 19-51-24](https://user-images.githubusercontent.com/58226527/128181609-272bc6de-c6a2-4956-b7a8-2a4c62356924.png)

![Screenshot from 2021-08-03 19-52-22](https://user-images.githubusercontent.com/58226527/128181595-86da6725-7865-46f5-afcb-8

[2021-08-04 13:45] Swastik1710 commented on #203
I'm unable to do it.
Please assign it to someone else.

[2021-08-05 19:37] #204 closed

[2021-08-05 19:44] #206 closed

[2021-08-06 03:48] Akshima-Ghai opened #209 "BLOGS Page"
Create a page for blogs sections

[2021-08-06 06:51] ShwetKhatri2001 commented on #209
I'd like to work on this issue . Any Reference ?

[2021-08-06 07:01] NikhilSharma03 commented on #209
Would love to work on this issue.

[2021-08-06 07:04] NikhilSharma03 opened #210 "VideoLectures Page"
## Description

- Add VideoLectures Page

@Akshima-Ghai Would love to work on this issue.

[2021-08-07 09:50] #192 closed

[2021-08-07 09:51] deeqakkk commented on #210
Submit a ss before making a PR.
and also let us know how actually you are going to design it.

[2021-08-07 09:52] #200 closed

[2021-08-08 12:42] ShwetKhatri2001 commented on #209
@deeqakkk Can I work on this issue ?

[2021-08-08 18:30] deeqakkk commented on #209
sure!

[2021-08-08 18:30] deeqakkk commented on #209
Thanks for this teamwork spirit.

[2021-08-10 09:33] NikhilSharma03 commented on #210
@Akshima-Ghai We can close this issue.

[2021-08-10 09:37] #210 closed

[2021-08-10 12:51] ShwetKhatri2001 commented on #160
@deeqakkk I'd like to work on this issue

[2021-08-10 13:00] deeqakkk commented on #160
Sure @ShwetKhatri2001 , try to make a PR soon.

[2021-08-12 13:59] #160 closed

[2021-08-14 06:59] NikhilSharma03 opened #221 "Features Video"
@ShwetKhatri2001 We need some help.

[2021-08-14 07:02] NikhilSharma03 commented on #221
If possible can you create a demo video of the login/signup/forgot/reach out mailing service we are providing? Since I don't have credentials for SendGrid. Let me know if that's okay with you.
In the meantime, I will create one for the front end for quiz/blog/video lectures, etc.
@Akshima-Ghai Need to post it on LinkedIn by Sunday.

[2021-08-14 07:09] ShwetKhatri2001 commented on #221
Ok will do it

[2021-08-14 07:27] NikhilSharma03 commented on #221
Cool. Thanks Shwet

[2021-08-16 03:31] #221 closed

[2021-08-16 19:42] amantiwari1 commented on #40
there is an amazing animation library, you can try out - https://www.framer.com/motion/

[2021-08-17 03:26] Akshima-Ghai commented on #40
Thanks @amantiwari1

[2021-09-06 14:53] #209 closed

[2021-12-13 02:44] superzym opened #222 "Cannot find module './utils'"
The package  './utils' cannot be found at runtime